# --- CONFIGURACIÓN DE BASE DE DATOS ---
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_NAME=gibor_fc

# --- SESIONES ---
SESSION_SECRET=una_clave_secreta_larga

# --- CORREO ELECTRÓNICO (Nodemailer) ---
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion_google